[Unit]
Requires=zookeeper.service
After=zookeeper.service

[Service]
Type=simple
User=kafka
ExecStart=/bin/sh -c '{{ kafka_dir }}/bin/kafka-server-start.sh {{ kafka_dir }}/config/server.properties > {{ kafka_dir }}/kafkaservice.log 2>&1'
ExecStop={{ kafka_dir }}/bin/kafka-server-stop.sh
Restart=on-abnormal

[Install]
WantedBy=multi-user.target
